@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "variables";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: $greyLight;
}

#sideMenu {
  background: $purpleLight;
  max-width: 280px;

  nav {
    color: $greyLight;
  }
}

nav a {
  display: block;
}